<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="registroA">
    <H1>Clase Registrada 
    </H1>
  </div>
</ion-content>

<ion-content>
  <div class="registroA ">
  {{resultadoEscaneo}}
</div>

  <div class="registroA">
    <p>Nombre: {{ nombre }}</p>
    <p>RUT: {{ rut }}</p>
  </div>

  <div class="registroA">
    <p>Fecha: {{   timestamp1}}</p>
    <p>Hora: {{   timestamp2}}</p>
</div>


<div class="registroA">
  <p>Coordenadas: {{ coordenadas }}</p>
</div>
</ion-content>


<ion-footer>
  <div class="boton-asistencia">
    <ion-button routerLink="/sesion">
      Volver
    </ion-button>
    <ion-button (click)="cerrarSesion()">
      Cerrar Sesion
    </ion-button>
  </div>
</ion-footer>