<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <h1>Bienvenido {{usuario}}</h1>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="anto()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="button-container">
  <ion-button  (click)="cerrarSesion()">Cerrar sesion</ion-button>
</ion-footer> 